{% extends "todo/layout.html" %}
{% load static %}


{%block title %} 메뉴얼 {% endblock %}

{%block content5 %}
<br><br><br><br>

<h2>
  Main Page(개인 note는 상단의 노트1을 클릭)
</h2>

<style>
  table,
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .table-responsive {
    display: table;
  }

  table {
    width: 100%;
    box-sizing: border-box;
  }

  td,
  th {
    /* padding: 1px; */
    text-align: center;
    vertical-align: middle;
  }

  td>a,
  img {
    cursor: pointer;
  }

  .empty-row {
    /* background-color: azure; */
    height: 22px;
  }

  .common_subject_list_area{
    display: flex;
    gap: 20px
  }

</style>

<h2>subject_list</h2>

<div class="common_subject_list_area">
    
</div>

<br><br>

<h2>user list</h2>
<div class="user_list_area">

  <div class="table-responsive">
    <table class="" style="background-color: #ecf5f1">
      <tr style="background-color: #dff4f8">
        <td>user</td>
        <td>lecture/git</td>
        <td>chapter</td>
        <td>git1</td>
        <td>git2</td>
        <td>git3</td>
        <td>git4</td>
        <td>created / updated</td>
        <td>최근 진도</td>
        <td>조회수</td>
      </tr>
  
      {% if object_list.exists %} {% for u in user_list %}
      <tr class={% if u.username == request.user.username %} {{"login_user_row"}} {% endif %}>
        <td id="user_name_{{u.id}}">
          <a href="http://www.skilnote-for-starter.shop/wm/myshortcut/{{u.username}}/1" title="{{u.profile.phone}}">
            {{u.username}}
          </a>
          &nbsp;&nbsp;

          &nbsp;

          <a href="" class="btn btn-outline-success btn-sm" data-id="{{u.id}}" id="{{u.username}}">
            side note
         </a>

         <a href="" class="btn btn-outline-success btn-sm" data-id="{{u.id}}" id="{{u.username}}">
          refer
        </a>
  
        </td>
  
        <td>
          {% if u.profile.lecture_url %}
          <a class="btn btn-outline-dark btn-sm" href="http://{{u.profile.lecture_url}}">
              <img src="{% static 'icon/home_page.png' %}" width="%" alt="" />
          </a>
          {% elif not u.profile.lecture_url %}
          <a class="btn btn-outline-dark btn-sm" href="http://{{u.profile.lecture_url}}">
              <img src="{% static 'icon/home_page_empty.png' %}" width="%" alt="" /> 
          </a>

          {% endif %} {% if u.profile.github_original %}
          <a class="btn btn-outline-dark btn-sm" href="http://{{u.profile.github_original}}">
            <img src="{% static 'icon/github_original.png' %}" width="%" alt="" />
          </a>
          {% elif not u.profile.github_original %}
          <a href="" class="btn btn-outline-dark btn-sm" data-id="{{u.id}}" id="{{u.username}}">
            <img src="{% static 'icon/github_empty.png' %}" width="%" alt="" />
          </a>
 
  
          {% endif %}

          <a href="" class="btn btn-outline-success btn-sm" data-id="{{u.id}}" id="{{u.username}}">
            lecture list
         </a> 

        </td>
  
        <td>
          ({{ u.profile.first_category }} ~ {{ u.profile.last_category }})
          <button type="button" class="btn btn-sm btn-outline-dark category_name_list_icon"
            data-username="{{u.username}}">
            목록
          </button>
          <!-- <button class="btn btn-sm btn-outline-dark">
            <a href="http://www.skilnote-for-starter.shop/wm/myshortcut/{{u.username}}/119">결과1</a>
          </button>
          <button class="btn btn-sm btn-outline-dark">
            <a href="http://www.skilnote-for-starter.shop/wm/myshortcut/{{u.username}}/120">결과2</a>
          </button> -->
  
        </td>
  
        <td>
          {% if u.profile.github1 %}
          <a href="http://{{u.profile.github1}}">
            <img src="{% static 'icon/github.png' %}" width="%" alt="" />
          </a>
          {% elif not u.profile.github1 %}
          <img src="{% static 'icon/github_empty.png' %}" width="%" alt="" />
  
          {% endif %}
        </td>
  
        <td>
          {% if u.profile.github2 %}
          <a href="http://{{u.profile.github2}}">
            <img src="{% static 'icon/github.png' %}" width="%" alt="" />
          </a>
          {% elif not u.profile.github2 %}
          <img src="{% static 'icon/github_empty.png' %}" width="%" alt="" />
          {% endif %}
        </td>
  
        <td>
          {% if u.profile.github3 %}
          <a href="http://{{u.profile.github3}}">
            <img src="{% static 'icon/github.png' %}" width="%" alt="" />
          </a>
          {% elif not u.profile.github3 %}
          <img src="{% static 'icon/github_empty.png' %}" width="%" alt="" />
          {% endif %}
        </td>
  
        <td>
          {% if u.profile.github4 %}
          <a href="http://{{u.profile.github4}}">
            <img src="{% static 'icon/github.png' %}" width="%" alt="" />
          </a>
          {% elif not u.profile.github4 %}
          <img src="{% static 'icon/github_empty.png' %}" width="%" alt="" />
          {% endif %}
        </td>
  
        <td>
          {{u.profile.last_updated}} / <br />
          {{u.profile.last_modified}}
        </td>
  
        <td>
          <a
            href="http://www.skilnote-for-starter.shop/wm/myshortcut/{{u.username}}/{{ u.profile.last_updated_category }}">ca{{u.profile.last_updated_category}}</a>
        </td>
  
        {% if u.username == request.user.username %} {% else %} {% endif %}
  
        <td>{{u.profile.click_count}}</td>
  
        
  
      </tr>
      <tr>
        <td>
          멤버 ( 총 {{u.allowlistforskilnote_set.count}} 명 )
          <button data-username="{{u.username}}" class="btn btn-sm btn-outline-dark showAllowListButton">참여 </button>
  
          <button class="btn btn-sm btn-outline-dark">
            <a href="http://www.skilnote-for-starter.shop/wm/myshortcut/{{u.username}}/1">도전 과제</a>
          </button>
  
        </td>
        <td colspan="9">
          {%if u.allowlistforskilnote_set.exists %}
            {% for a in u.allowlistforskilnote_set.all %}
  
              <a href="http://www.skilnote-for-starter.shop/wm/myshortcut/{{a.member}}/1" title="{{u.profile.phone}}" style="color:blue">
                {{a.member}} &nbsp;
              </a>
  
            {% endfor %}
          {% endif %}
  
        </td>
      </tr>
      <tr class="empty-row">
        <td colspan="1">
          <input type="text" size="20"/>
          <button>search (구현중) </button>
        </td>
        <td>
          <a href="" class="btn btn-outline-dark btn-sm copy_to_me_from_wm" data-id={{u.id}} id={{u.username}}>
            copy(전체)
            <span class="" id="loading_for_copy_{{u.id}}" role="status" aria-hidden="true"></span>
          </a>
        </td>
        <td colspan="1">
          from
          <input type="text" size="10" placeholder="1" class="writer_start"/> ~ 
          <input type="text" size="10" placeholder="120" class="writer_end"/>
          to
          <input type="text" size="10" placeholder="1" class="user_start"/> ~ 
          <input type="text" size="10" placeholder="120" class="user_end"/>
  
          <button class="partialCopyButton" data-username="{{u.username}}">부분 복사 to me</button>
          </td>
      </tr>
  
      {% endfor %} {% else %}
  
      <tr>
        <td colspan="4">
          <h4>아직 게시물이 없습니다.</h4>
        </td>
      </tr>
      {% endif %}
    </table>

  <br>
    <div class="pagination" style="display: flex; justify-content: center;">
      <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
          {% if page_obj.has_next %}
              <a href="/?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
  
  </div>


</div>





<!-- modal area start -->

<div class="modal fade history_modal" id="history_modal" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">history-list-for-update</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body history-list-area-for-sn-update"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade categoynick_modal" id="CategoryModal" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">user list for skill</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body category_nick_area"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="guest_book_list_modal" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">계획</h4>

        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body" id="guest_list_table_area"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="allow_list_modal" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">노트 참여자 목록</h4>

        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- 참여 리스트 body -->
      <div class="modal-body" id="allow_list_body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- modal area end -->

<!-- js area -->
<script type="text/javascript">

  {% block extra_js %}

  $(document).ready(function () {
    const url = "/wm/myshortcut/common_subject_list"
    $.get(url)
      .done((result) => {
        $(".common_subject_list_area").html(result)
      })
      .fail(() => {
        console.log("fail");
      })
      .always(() => {
        console.log('always');
      })
  });

  
  $(document).on('click', '.partialCopyButton', function (e) {
    e.preventDefault();
    console.log("부분 복사 버튼 클릭 확인")
    const writer_start = $(this).parent().find(".writer_start").val();
    const writer_end = $(this).parent().find(".writer_end").val();
    const user_start = $(this).parent().find(".user_start").val();
    const user_end = $(this).parent().find(".user_end").val();
    const writer_name = $(this).data("username");


    let writer_rang = writer_end - writer_start
    let user_rang = user_end - user_start

    console.log(writer_start, writer_end, user_start, user_end);

    console.log("writer_rang : ", writer_rang);
    console.log("user_rang : ", user_rang);
    console.log("writer_name : ", writer_name);

    if(writer_rang === user_rang){
      console.log("부분 복사를 실행 하겠습니다");
    } else {
      alert("범위가 다르므로 복사를 취소 하겠습니다.");
      return;
    }

    const yn = confirm(`부분 복사 (ca${writer_start} ~ ca${writer_end} => ca${user_start} ~ ca${user_end})  실행합니까? `, "");

    if (yn) {
            $.ajax({
                type: "POST",
                url: '/wm/myshortcut/partial_copy_for_skilnote',
                data: {
                  writer_start: writer_start,
                  writer_end: writer_end,
                  user_start: user_start,
                  user_end:user_end,
                  writer_name:writer_name,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (result) {
                    alert(result.message);
                }
            });
        } else {
            alert("취소")
        }

  })

  
  $(document).on('click', '.showAllowListButton', function (e) {
    const username = $(this).data("username");
    const url = "/myshortcut/allow_list/" + username
    // window.history.pushState("", "", '/wm/myshortcut/')

    $.get(url)
      .done((result) => {
        $("#allow_list_body").html(result)
        $("#allow_list_modal").modal();
        // console.log("result : ", result);
      })
      .fail(() => {
        console.log("fail");
      })
      .always(() => {
        console.log('always');
      })
  });

  $(document).on('click', '.guest_book_list_btn', function (e) {
    const username = $(this).data("username");
    const url = "guest_book_list/" + username
    window.history.pushState("", "", '/wm/myshortcut/')

    $.get(url)
      .done((result) => {
        $("#allow_list_body").html(result)
        $("#guest_book_list_modal").modal();
        window.history.pushState("", "", '/accounts/login/')
      })
      .fail(() => {
        console.log("fail");
      })
      .always(() => {
        console.log('always');
      })
  });


  $(document).on('click', '.history_button', function (e) {
    console.log("history button click")
    var userId = $(this).data("id");
    const url = "/accounts/history/" + userId
    alert("userId : " + userId)


    $.get(url)
      .done((result) => {
        $(".history-list-area-for-sn-update").html(result)
        $("#history_modal").modal();
      })
      .fail(() => {
        console.log("fail");
      })
      .always(() => {
        console.log('always');
      })

  });

  $('.category_name_list_icon').click(function (e) {
    const username = $(this).data("username");
    const url = '/wm/myshorcut/nicklist_for_user/' + username
    const ch = $("#current_category").text()

    $.get(url)
      .done((result) => {
        $(".category_nick_area").html(result)
        $("#CategoryModal").modal();
        $("#"+ch).css("background-color", "skyblue");
      })
      .fail(() => {
        console.log("fail");
      })
      .always(() => {
        console.log('always');
      })
  });

  $(".copy_to_me_from_wm").click(function(e){
    e.preventDefault();
    const author = this.id
    // alert("this.id : " + this.id);
    const row_id = $(this).data("id");

    if (!author) {
		return;
	};

    const selection = prompt("나의 wm을 모두 지운뒤 선택한 유저"+author+"의 노트를 복사하시겠습니까?(x,y)", "");
    window.history.pushState("", "", '/wm/myshortcut/')

    if (selection == "y" || selection == "Y") {
        $("#loading_for_copy_"+row_id).addClass("spinner-border spinner-border-sm");

        $.ajax({
            type: "POST",
            url: "{% url 'wm:copy_to_me_from_user_id' %}",
            data: {
                "author":author,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(result) {
                $("#loading_for_copy_"+row_id).removeClass("spinner-border spinner-border-sm");
                alert("result.message (user_list_for_memo) : " + result.message)
            }
        });
    } else {
        alert("취소 하셨습니다.")
    }
});  


  {% endblock %}
</script>